node_modules
.env*
.openzeppelin/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
yarn.lock
package-lock.json

src/interfaces/
src/src
src/build-info/
src/solidity-bytes-utils/
