<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Cliente FVA</string>
	<key>CFBundleExecutable</key>
	<string>MacOS/client_fva</string>
    <key>description</key>
    <string>Cliente para la gestión de Firma Digital de Costa Rica</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Cliente FVA</string>
    <key>items_to_copy</key>
    <array>
        <dict>
            <key>destination_path</key>
            <string>/etc/Athena/IDPClientDB.xml</string>
            <key>source_item</key>
            <string>Contents/etc/Athena/IDPClientDB.xml</string>
        </dict>
        <dict>
            <key>destination_path</key>
            <string>/usr/local/lib/libASEP11.dylib</string>
            <key>source_item</key>
            <string>Contents/Resources/os_libs/macos/libASEP11.dylib</string>
        </dict>
    </array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cliente FVA</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
