asn1crypto==1.5.1
certvalidator==0.11.1
PyJWT==2.9.0
PyKCS11==1.5.17
PyQt6==6.7.1
PyQt6_sip==13.8.0
https://github.com/wbond/oscrypto/archive/d5f3437ed24257895ae1edd9e503cfb352e635a8.zip
web3==7.4.0
cryptography
pyinstaller
